.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}


body {
    background-image: url('https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=852&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    background-color: green;
    padding: 15px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    border-radius: 60px;
    margin-top: -300px;
    position: fixed;

}

.par {
    display: none;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    background-color: #9FC088;
    padding: 20px;
    text-align: center;
    border-radius: 60px;
    margin-top: 400px;
    width: 70%;
    color: black;

}

@media all and (max-width: 500px){

    .btn{
        font-size: 18px;
    }
    .par {
        font-size: 13px;
    }
}

@media all and (max-width: 800px){

    .btn{
        font-size: 25px;
    }
    .par {
        font-size: 23px;
    }
}