.nav-color {
    background-color: #f9dbe9;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: #d8ebe5;
}

nav {
    margin: 0;
}

.title {
    font-size: 2rem;
}

.item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    padding-left: 75px;
}

.teddyitems {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.items {
    padding: 5px;
}

.order-button {
    background-color: #8fbae2;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    border-radius: 20px;
    
}

.move-left{
margin-left: 130px;


}

.order-button:hover{
    background-color: #f9dbe9;
    color: black;
}

.items2 {
    margin-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.about-me-text {
    font-family: 'Josefin Sans', sans-serif;
}


.img-border {
    border-style:inherit;
    border-radius: 30px;
    
}

.iMain {
    filter: drop-shadow(0 0 1rem #8fbae2);
}

.text-main {
    filter: drop-shadow(3px 5px 1rem #8fbae2);
}

.contactMe {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 18px;
}

.contactMe:hover {
    font-size: 23px;
    color: black;
}

.nav-item:hover {
    font-size: 28px;
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 20px;
    float: right;
    right: 40;
    left: 90%;
    max-width: 60px;
    width: 100%;
    font-size: 20px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: #8fbae2;
    padding: 5px;
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #f9dbe9;
    color: black;
}

.btnTop {
    text-decoration: none;
}

.pricingall {
    display: flex;
    

}

.shippingandpaymentheader {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    
}

.shippingandpayment {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;

}

.payment {
    width: 300px;
    text-align: center;
}

.shipping {
    width: 300px;
}

